<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Nube.Properties.Settings.nubebfsConnectionString" connectionString="Data Source=ntc.my;Initial Catalog=nubev2;user id=nubesw_membership;password=FDKW10YJu5ujyM8R;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="NUBEBFS" connectionString="Data Source=ntc.my;Initial Catalog=nubev2;user id=nubesw_membership;password=FDKW10YJu5ujyM8R;" providerName="System.Data.SqlClient" />
    <add name="NUBESTATUS" connectionString="Data Source=ntc.my;Initial Catalog=nubestatus;user id=nubesw_membership;password=FDKW10YJu5ujyM8R;" providerName="System.Data.SqlClient" />
    <add name="nubebfsEntity" connectionString="metadata=&quot;res://*/NUBE DATA.csdl|res://*/NUBE DATA.ssdl|res://*/NUBE DATA.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;         
      data source=ntc.my;initial catalog=nubev2;user id=nubesw_membership;password=FDKW10YJu5ujyM8R;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="nubebfsstatusEntities" connectionString="metadata=res://*/StatusData.csdl|res://*/StatusData.ssdl|res://*/StatusData.msl;provider=System.Data.SqlClient;provider connection string=&quot;
      data source=ntc.my;initial catalog=nubestatus;persist security info=True;user id=nubesw_membership;password=FDKW10YJu5ujyM8R;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>